# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual env
.venv/
venv/
env/

# Python tooling caches
.mypy_cache/
.pytest_cache/
.ruff_cache/
.hypothesis/
.coverage
.coverage.*
htmlcov/

# -----------------------
# Environment / secrets
# -----------------------
.env
.env.*
*.env

# -----------------------
# Terraform
# -----------------------
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.*
terraform.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# -----------------------
# Editors / IDEs
# -----------------------
.vscode/
.idea/
*.swp

# -----------------------
# OS junk
# -----------------------
.DS_Store
Thumbs.db

*.tf